/*Author: Camilo Garcia La Rotta*/

html {height: 100%}

body { 
  top: 0; 
  bottom: 0;
  right: 0; 
  left: 0;
  position: absolute;
  text-align: center;
  background: #fcfcfc;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  height: 25vmin;
  padding: 1vmin;
  overflow: hidden;
  font-weight: 400;
  border-bottom: 1px solid #e2e2e2;
}

article {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5% 0%;;
  display: inline-block;
  text-align: center;
}

footer {
  height: 5vmin;
  padding: 5vmin;
  font-size: 2vmin;
  border-top: 1px solid #e2e2e2;
}

.logo {
  height: 100%;
  width: auto;
  position:relative;
  display: inline-block;
  vertical-align: middle;
}

.name {
  width: auto;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  margin-left: 10%;
}

.title{
  font-size: 6vmin;
}

.subtitle {
  font-size: 3vmin;
}

ul {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
  list-style-type: none;  
}

li { 
  width: auto;
  margin: 0;
  padding: 0;
  vertical-align:middle;
}

.icon {
  height: 20vmin;
  width: auto;
}