* {
  padding: 0;
  margin: 0;
}

body {
  background: #F4F4F4;
  display: grid;
  grid-template-areas:
  "header"
  "top_hr"
  "main"
  "bottom_hr"
  "footer";
}

header {
  margin-top: 30px;
  display: grid;
  grid-area: header;
  justify-items: center;
}

main {
  display: grid;
  grid-area: main;
}

footer {
  grid-area: footer;
  justify-self: center;
}

hr {
  margin: 30px 30px;
  border: 1px solid #c5c5c5;
}

h1{
  font-weight: normal;
  font-size: 2.5em;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
}

p {
  font-family: monospace;
  font-size: 1.5em;
}

a {
  color: black;
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

li {
 list-style-type: none;
}

.logo {
  height: 10em;
}

.name {
  display: none;
}

.project_box {
  margin: 10px 0px;
}

.icon {
  height: 6em;
  margin: 10px;
}

.bordered {
  border: 1px solid #ddd;
}

.small_icon {
  height: 3.5em;
  margin: 10px;
}

.top_hr {
  grid-area: top_hr;
}

.bottom_hr {
  grid-area: bottom_hr;
}

@media screen and (min-width: 768px)
{
  body {
    height: 100vh;
    justify-items: stretch;
    align-content: center;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-areas:
    ". header ."
    ". top_hr ."
    ". main ."
    ". bottom_hr ."
    ". footer .";
  }

  header {
    grid-template-columns: 1fr 2fr;
  }

 ul {
    display: grid;
    justify-self: center;
  }
  main > ul {
    grid-template-columns: repeat(5, 1fr);
  }

  footer > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .name {
    display: block;
    align-self: center;
    text-align: end;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
